B2B AI Strategy Consultant.json
{
  "name": "B2B AI Strategy Consultant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1E16Fl2_neacmyr5aRgbUgcrsbHleKlVJ1iu_idyXNFE",
          "mode": "list",
          "cachedResultName": "AI_Growth_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E16Fl2_neacmyr5aRgbUgcrsbHleKlVJ1iu_idyXNFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E16Fl2_neacmyr5aRgbUgcrsbHleKlVJ1iu_idyXNFE/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "29a0678e-c8e2-40e2-9c9d-707abae2ab55",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "35RtuinAWazKXT2z",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $json['Website URL'] }}",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "16913881-fe51-4aa8-a364-ebbe52bb2a1f",
      "name": "Scrape a URL and get content as markdown or other formats",
      "credentials": {
        "firecrawlApi": {
          "id": "Tt35xoHsm0GgXYL9",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this website content and provide two things:\n1. Research Summary: A 2-sentence summary of a major business problem they have.\n2. Personalized Pitch: A 2-sentence pitch offering an AI automation solution.\nWebsite Data:{{ $json.data.markdown }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a world-class B2B AI Strategy Consultant. Your goal is to find one specific business gap in a company's process based on their website. Be professional and concise. Focus on how AI Automation could save them time or money."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        0
      ],
      "id": "014dbb91-c70a-4e1a-806f-4bfe0334b484",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "3a38fd1b-ed2c-4844-bcb6-3ac7ef66d067",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6Bpm9VuFQP4ys3oa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1E16Fl2_neacmyr5aRgbUgcrsbHleKlVJ1iu_idyXNFE",
          "mode": "list",
          "cachedResultName": "AI_Growth_Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E16Fl2_neacmyr5aRgbUgcrsbHleKlVJ1iu_idyXNFE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E16Fl2_neacmyr5aRgbUgcrsbHleKlVJ1iu_idyXNFE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website URL": "={{ $('Google Sheets Trigger').item.json['Website URL'] }}",
            "Research Summary": "={{ $json.output.research_summary }}",
            "Personalized Pitch": "={{ $json.output.personalized_pitch }}",
            "Status": "Processed"
          },
          "matchingColumns": [
            "Website URL"
          ],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website URL",
              "displayName": "Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Summary",
              "displayName": "Research Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Personalized Pitch",
              "displayName": "Personalized Pitch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        144
      ],
      "id": "e0b8041e-e324-45b5-8525-2d810ad67cf3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "baPtLZyalApcDCal",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚀 New AI Lead Processed! Company: {{ $('Google Sheets Trigger').item.json['Company Name']  }} \nWebsite: {{ $('Google Sheets Trigger').item.json['Website URL'] }} \nPitch Preview: {{ $json['Personalized Pitch'] }}\n\nCheck your Google Sheet for the full strategy.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1136,
        144
      ],
      "id": "91c7d35d-a31d-4da3-806e-8bb2acb5ac24",
      "name": "Discord",
      "webhookId": "80c4081a-0e6b-409c-9bad-ce6aa959b759",
      "credentials": {
        "discordWebhookApi": {
          "id": "m9K8rZFGmzIEzfDr",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"research_summary\": \"A 2-sentence summary of the business problem.\",\n  \"personalized_pitch\": \"A professional 2-sentence AI automation pitch.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "fcfebf1b-d3b2-4fbd-b762-b1949c6af868",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Scrape a URL and get content as markdown or other formats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scrape a URL and get content as markdown or other formats": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3979c7ac-2562-48a2-8c1a-6a97811761f4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "991f7bbc29a986b16f92eff3c5457ba103b59883d10193b665c158ef3d888d4e"
  },
  "id": "BWynP4bVFPJAtbuZBzIq7",
  "tags": []
}